<div class="row mt-4">
    <div class="col-4 m-auto">
        <div class="card">
            <h1 class="text-center">登入</h1>
            {{> messages}}
            <div class="card-body">
                <form method="POST" action="/user/login">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="請輸入email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password1">密碼</label>
                        <input type="password" class="form-control" id="password1" placeholder="請輸入密碼" name="password">
                    </div>
                    
                    
                    <button type="submit" class="btn btn-success btn-block">登入</button>
                    <a href="/auth/facebook" class="btn btn-primary btn-block">Facebook登入</a>
                    <p>還沒有帳號? <a href="/user/register">前往註冊</a></p>
                </form>
            </div>
        </div>
    </div>
</div>