<div class="row mt-4">
    <div class="col-4 m-auto">
        <div class="card">
            <h1 class="text-center">註冊</h1>
            {{> messages}} 
            <div class="card-body">
                <form action="/user/register" method="POST">
                    <div class="form-group">
                        <label for="name">名字</label>
                        <input type="text" class="form-control" id="name" placeholder="請輸入名字" name="name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="請輸入email" name="email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <label for="password1">密碼</label>
                        <input type="password" class="form-control" id="password1" placeholder="請輸入密碼" name="password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <label for="password2">確認密碼</label>
                        <input type="password" class="form-control" id="password2" placeholder="請再次輸入密碼" name="password2" value="{{name}}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">註冊</button>
                    <p>已經有帳號? <a href="/user/login">前往登入</a></p>
                </form>
            </div>
        </div>
    </div>
</div>